form{
  margin: 0px;
  padding: 15px;
}
form .header{
  padding: 10px;
  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 16px;
  width: 110%;
  background-color: #04408a;
}
form .header span{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
form input{
  width: 90%;
}
form input[type="file"]{
  width: 90%;
  padding: 10px;
  border-top: 2px solid rgb(218, 217, 217);
  background-color: rgb(236, 236, 236);
}
form select{
  width: 90%;
}
form textarea{
  width: 90%;
}
form .footer{
  padding: 10px;
  border-top: 2px solid rgb(218, 217, 217);
  background-color: rgb(236, 236, 236);
}
form .footer button{
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
form .footer .primary{
  background-color: #0153b8;
}
form .footer .danger{
  background-color: #bd0404;
}

form .form-input{
  margin-top: 10px;
  margin-bottom: 10px;
}
form label{
  font-weight: bold;
}

.load{
  color: #07b801;
}